
# PlayerManager
public net.minecraft.server.management.PlayerManager$PlayerInstance # credit to my girl for figuring out why this wasnt working
public net.minecraft.server.management.PlayerManager field_72697_d # chunkWatcherWithPlayers

# PlayerManager$PlayerInstance
public net.minecraft.server.management.PlayerManager$PlayerInstance field_151254_d # locationOfBlockChange

# EntityPlayerMP
public net.minecraft.entity.player.EntityPlayerMP *
public net.minecraft.entity.player.EntityPlayerMP func_147097_b(Lnet/minecraft/tileentity/TileEntity;)V

# SoundManager
public net.minecraft.client.audio.SoundManager field_148625_l # tickableSounds
public net.minecraft.client.audio.SoundManager$SoundSystemStarterThread

# ChunkIOProvider
public net.minecraftforge.common.chunkio.ChunkIOProvider

# QueuedChunk
public net.minecraftforge.common.chunkio.QueuedChunk
public net.minecraftforge.common.chunkio.QueuedChunk *

# World
public net.minecraft.world.World func_147467_a(IILnet/minecraft/world/chunk/Chunk;)V # func_147467_a
public net.minecraft.world.World field_73005_l # updateLCG
public net.minecraft.world.World field_147481_N # field_147481_N

# ExtendedBlockStorage*
public net.minecraft.world.chunk.storage.ExtendedBlockStorage *

# Chunk
public net.minecraft.world.chunk.Chunk *
public net.minecraft.world.chunk.Chunk func_150811_f(II)Z # func_150811_f
public net.minecraft.world.chunk.Chunk func_150801_a(I)V # func_150801_a

# NibbleArray
public-f net.minecraft.world.chunk.NibbleArray field_76585_a # data
public net.minecraft.world.chunk.NibbleArray field_76583_b # depthBits
public net.minecraft.world.chunk.NibbleArray field_76584_c # depthBitsPlusFour

# ChunkProviderServer
public net.minecraft.world.gen.ChunkProviderServer field_73246_d # currentChunkProvider
public net.minecraft.world.gen.ChunkProviderServer field_73247_e # currentChunkLoader
public net.minecraft.world.gen.ChunkProviderServer field_73249_c # defaultEmptyChunk
public net.minecraft.world.gen.ChunkProviderServer field_147417_b # logger

# ChunkProviderClient
public net.minecraft.client.multiplayer.ChunkProviderClient field_147436_a # logger
public net.minecraft.client.multiplayer.ChunkProviderClient field_73238_a # blankChunk
public net.minecraft.client.multiplayer.ChunkProviderClient field_73235_d # worldObj

# ChunkProviderFlat
public net.minecraft.world.gen.ChunkProviderFlat field_73163_a # worldObj
public net.minecraft.world.gen.ChunkProviderFlat field_82700_c # cachedBlockIDs
public net.minecraft.world.gen.ChunkProviderFlat field_82698_d # cachedBlockMetadata
public net.minecraft.world.gen.ChunkProviderFlat field_82696_f # structureGenerators

# ChunkProviderGenerate
public net.minecraft.world.gen.ChunkProviderGenerate field_73226_t # caveGenerator
public net.minecraft.world.gen.ChunkProviderGenerate field_73232_y # ravineGenerator
public net.minecraft.world.gen.ChunkProviderGenerate field_73223_w # mineshaftGenerator
public net.minecraft.world.gen.ChunkProviderGenerate field_73224_v # villageGenerator
public net.minecraft.world.gen.ChunkProviderGenerate field_73225_u # strongholdGenerator
public net.minecraft.world.gen.ChunkProviderGenerate field_73233_x # scatteredFeatureGenerator
public net.minecraft.world.gen.ChunkProviderGenerate field_73220_k # rand
public net.minecraft.world.gen.ChunkProviderGenerate field_73230_p # worldObj
public net.minecraft.world.gen.ChunkProviderGenerate field_73229_q # mapFeaturesEnabled
public net.minecraft.world.gen.ChunkProviderGenerate field_147430_m # field_147430_m
public net.minecraft.world.gen.ChunkProviderGenerate field_73231_z # biomesForGeneration

# ChunkProviderHell
public net.minecraft.world.gen.ChunkProviderHell field_73181_i # hellRNG
public net.minecraft.world.gen.ChunkProviderHell field_73175_o # worldObj
public net.minecraft.world.gen.ChunkProviderHell field_73182_t # netherCaveGenerator

# ChunkProviderEnd
public net.minecraft.world.gen.ChunkProviderEnd field_73204_i # endRNG
public net.minecraft.world.gen.ChunkProviderEnd field_73200_m # endWorld
public net.minecraft.world.gen.ChunkProviderEnd field_73198_o # biomesForGeneration

# TESTS
public net.minecraft.block.Block <init>(Lnet/minecraft/block/material/Material;)V
